# -- Site Configuration --
# Refer to the theme docs for more details about each of these parameters.
# https://blowfish.page/docs/getting-started/

theme = "blowfish"              # UNCOMMENT THIS LINE
baseURL = "https://eyemask.jp/"
defaultContentLanguage = "ja"
languageCode = "ja"
title = "My Hobby Boxes"
# pluralizeListTitles = "true" # hugo function useful for non-english languages, find out more in  https://gohugo.io/getting-started/configuration/#pluralizelisttitles

enableRobotsTXT = true
summaryLength = 0

buildDrafts = false
buildFuture = false

enableEmoji = true

googleAnalytics = "G-W1RZW3JB8M"

[pagination]
pagerSize = 100

[imaging]
anchor = 'Center'

[taxonomies]
tag = "tags"
category = "categories"
series = "series"
type = "types"
topic = "topics"

[sitemap]
changefreq = 'daily'
filename = 'sitemap.xml'
priority = 0.5

[outputs]
home = ["HTML", "RSS", "JSON"]

[related]
threshold = 0
toLower = false

[[related.indices]]
name = "topics"
weight = 100

[[related.indices]]
name = "types"
weight = 100

[[related.indices]]
name = "tags"
weight = 100

[[related.indices]]
name = "categories"
weight = 100

[[related.indices]]
name = "series"
weight = 50

[[related.indices]]
name = "date"
weight = 10

[[related.indices]]
applyFilter = false
name = 'fragmentrefs'
type = 'fragments'
weight = 10
